.App {
  text-align: center;
}

.App-header {
  background-color: #01454f;
  height: 35px;
  margin: 50px;
  color: #3d464d;
}

.App-group {
  color: white;
  font-size: large;
}

.App-input {
  font-size: 20px;
  height: 35px;
  width: 80%;
}

button {
  background-color: orange;
  border-style: none;
  width: 80%;
  height: 50px;
  font-size: 20px;
}

code {
  color: #e73a37;
}