.Result {
  text-align: center;
  font-size: 3em;
  display: flex;
}

.Result-alcohol {
  width: 100%;
  background-color: green;
  color: white;
}

.Result-gasoline {
  background-color: red;
  color: white;
}

.Result-false {
  float: left;
  width: 50%;
  color: gray;
  background-color: black;
}

.Result-true {
  float: right;
  width: 50%;
}
